.about-section {
    height: 60vh;

    h1 {
        display: inline;
        border-bottom: 3px solid purple;
        font-weight: bold;
        font-size: 40px;
    }

    .text {
        width: 310px;
        letter-spacing: 1.3px;
        padding: 30px 4px 0px 0px;
        font-size: 21px;
    }
}