.contact-section {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input-feilds {
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 0.8rem;
            margin: 1rem;

            h1 {
                font-size: 40px;
                letter-spacing: 5px;
                margin-bottom: 13px;
            }

            input {
                padding: 12px 14px;
                margin: 10px;
            }

            button {
                cursor: pointer;
                background-color: #f26440;
                color: #fff;
                padding: 16px 138px 14px 139px;
                font-size: 1rem;
                margin: 9px;
                border: none;
            }
        }

    }

    .contact-images {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 55vh;
        }
    }

}