.home {
    height: calc(100vh - 10vh);
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    .profileInfo {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .description {
            padding-top: 6rem;
            font: 4rem "Roboto", sans-serif;

            >h2 {
                font-family: "Roboto", sans-serif;
                font-style: oblique;
            }
        }

        .typer {
            .typewriterpara {
                font-family: 'Cedarville Cursive', cursive;
                margin: 20px 0;
                height: 20px;
                letter-spacing: 5px;
                font-size: 24px;
            }
        }

        .buttons {
            display: flex;
            gap: 3vw;
            flex-direction: row;

            button {
                background-color: #f26440;
                color: #fef2f2;
                padding: 1rem 2.5rem;
                border: none;
                cursor: pointer;

                .fa-brands{
                    margin: 4px;
                }
            }
        }
    }

    .profileImage {
        display: flex;
        align-items: center;
        img {
            height: 55vh;
            border: 2px solid;
        }
    }
}