section {
    // border: 2px solid grey;
    height: 90vh;
    display: flex;
    // gap: 10rem;
    justify-content: space-evenly;
    align-items: center;

    .profileInfo {
        margin-top: -8%;

        .description {
            padding-top: 6rem;
            font: 4rem "Roboto", sans-serif;

            >h2 {
                font-family: "Roboto", sans-serif;
                font-style: oblique;
            }
        }

        .typer {
            margin: 5rem 0;

            .typewriterpara {
                margin: 20px 0;
                height: 20px;
                letter-spacing: 5px;
                font-size: 24px;
            }
        }

        .buttons {
            display: flex;
            gap: 3rem;

            button {
                background-color: #f26440;
                color: #fef2f2;
                padding: 1rem 2.5rem;
                border: none;
            }
        }
    }

    .profileImage {

        // border: 2px solid purple;
        img {
            height: 55vh;
            border: 2px solid;
        }
    }
}