@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ubuntu&display=swap');  
@import url(../Styles/navbar.scss);
@import url(../Styles/Home.scss);
@import url(../Styles/Work.scss);
@import url(../Styles/media.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #1C1F25;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}