nav {
    position: relative;
    height: 10vh;
    z-index: 10;

    .header {
        position: fixed;
        background: #1C1F25;
        margin-left: 3%;
        // border: 2px solid grey;
        padding: 20px;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        line-height: normal;
        // border-bottom: 2px solid whitesmoke;
        
        .logo {
            font-size: 2rem;
        }
        
        .menu {
            // border: 2px solid grey;
            padding: 4px;
            display: flex;
            gap: 2rem;
        }
        
        a {
            text-decoration: none;
            padding: 5px;
            font-weight: 500;
            letter-spacing: 1px;
            transition: all 0.2s;
            color: whitesmoke;
        }

        button {
            border: 1px solid rgba(22, 22, 22, 0.5960784314);
            padding: 0.5rem 2rem;
            background-color: #fef2f2;
            cursor: pointer;
            color: #161616;
            letter-spacing: 1px;
            font-weight: 500;
            transition: all 0.3s;
            cursor: pointer;
        }
        
        button:hover {
            color: whitesmoke;
            // background: whitesmoke;
            background: #1C1F25;
        }
        
        a:hover {
            color: red;
        }
    }
}