.work {
    height: 100vh;
    width: 100%;

    .heading {
        margin-top: 10px;
        text-align: center;

        h2 {
            font: 700 2.5rem "Open Sans", sans-serif;
            padding: 0.5rem;
            display: inline;
        }

        .heading,
        div {
            height: 3px;
            width: 9%;
            margin: auto;
            background-color: #f26440;

        }
    }

    .projects {
        height: 60vh;
        margin-top: 20vh;

        .caraosel {
            background-color: #fef2f2;
            width: 70%;
            color: black;
            height: 60vh;
            padding: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto;
            font-family: 'Ubuntu', sans-serif;

            .image {
                width: 30%;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;

                >img {
                    height: 40vh;
                    object-fit: cover;
                    border-radius: 10%;
                }
            }

            .info {
                max-width: 50%;
                font-size: 22px;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: center;

                >a {
                    width: fit-content;
                    background-color: #f26440;
                    color: #fef2f2;
                    padding: 1rem 2.5rem;
                    border: none;
                    text-decoration: none;
                }
            }
        }
    }
}